<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
</head>
<body>
    <form method="post">
        <input type="text" name="username" placeholder="ユーザー名"><br>
        <input type="password" name="password" placeholder="パスワード"><br>
        <label>
            <input type="checkbox" name="remember"> ログイン状態を保持する
        </label><br>
        <input type="submit" value="ログイン">
      </form>
</body>
</html>