<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カメラ</title>
</head>
<body>
    <header>
        <h1>カメラ映像</h1> 
    </header>
    <main>
        <img src="{{ stream_url }}" width="640" height="480">
    </main>
    <footer>
        <a href="{{ url_for('logout') }}">ログアウト</a>
    </footer>
</body>
<script>
    const streamUrl = "/video_proxy";
    const streamImg = document.getElementById("stream");
    streamImg.src = streamUrl;
  </script>
</html>